# Exemplo de configurações do banco de dados para o Divide-AI
# Copie este arquivo para um novo arquivo chamado .env e configure as suas credenciais locais

DB_HOST='host'
DB_NAME='nome_do_db'
DB_USER='user'
DB_PASS='senha_user'
